<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<form action="/" method="Get">
    <button class="btn btn-primary w-10 py-2" onclick="openLinkInNewTab()" type="Submit">Run the google collab notebook to run the model and update the dataset .</button>
    </form>
    
  
<script>
    function openLinkInNewTab() {
      // Replace 'https://www.example.com' with your desired link
      const link = 'https://colab.research.google.com/drive/1AhuexN_NT-Jd7Zfx0-MHR7vWWpFA1SC_#scrollTo=16c1090f ';
      window.open(link, '_blank');
    }
  </script>

